@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.accounts{
    background: black;
    color: white;
    font-family: "Firs";
}