.community{
    padding: 0 3rem;
}
.community h2{
    font-size: 4.5rem;
    line-height: 1.3;
}
@media screen and (max-width : 768px) {
    .community h2{
        font-size: 3rem;
    }
}
@media screen and (max-width : 490px) {
    .community{
        padding: 0 1.5rem;
    }
    .community h2{
        font-size: 2.4rem;
    }
}
