html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.rdw-editor-main{
  background: rgb(228, 227, 227);
  color : black;
  min-height: 350px!important;
}
.rhap_stacked .rhap_controls-section{
  margin-top: 0!important;
}
.rhap_controls-section svg{
  width: 22px;
}
.rhap_additional-controls svg{
  width: 18px;
}
.rdw-dropdownoption-default, .rdw-dropdown-selectedtext{
  color: black!important;
}
@media only screen and (max-width : 480px){
  .css-uv6hmy{
    margin-left: 0!important;
    margin-right: 0!important;
    padding-left: 1em!important;
    padding-right: 1em!important;
  }
  .css-1uv7yw5, .css-1jagptf{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .css-12isumq{
    margin-top: 2em!important;
  }
  .chakra-tabs button{
    font-size: 13px;
  }
  .chakra-tabs .css-1xhq01z{
    overflow-x: auto!important;
  }
  .css-y51uy1, .css-umvulm{
    margin-inline-start: 0!important;
    margin-top: 1em!important;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: black;
  }
}
