@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@font-face {
    font-family: 'Isabov';
    src: url('../public/Fonts/ISABOV-Bold.otf');
}
@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: url(../public/Stars\ hero\ bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: 0;
}
.hero .header{
    position: relative;
    z-index: 1050;
}
.herosection{
    position: relative;
    height: 90vh;
}
.herosection .map{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: 1;
}
.map img{
    width: 100%;
    height: 100vh;
}
.herotext{
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.herosection h1{
    font-family: 'Isabov', sans-serif;
    font-size: 9rem;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
    background: linear-gradient(89.76deg, #FB047B 3.64%, #130EFF 99.88%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.herosection .by{
    font-family: 'Firs', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    font-weight: 500;
    color: white;
}
.scroll_text{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 10rem;
}
.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
  }
  
.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}
.scroll_text .parallax{
    width: 100%;
}

@media screen and (max-width : 990px) {
    .herosection h1{
        font-size: 6rem;
    }
}
@media screen and (max-width : 690px) {
    .herosection h1{
        font-size: 4rem;
        word-wrap: break-word;
        margin-top: 5.5rem;
    }
    .nav{
        display: none;
    }
    .btns{
        display: block;
        text-align: center;
    }
    .btns button{
        width: 80%;
        margin: 0px auto;
        margin-bottom: 10px;
    }
}
@media screen and (max-width : 480px) {
    .herosection h1{
        font-size: 3rem;
    }
}