@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');
.info{
    padding: 2rem 3rem;
    margin-top: 3rem;
    /* background: black; */
    /* color: white; */
    /* position: relative; */
}
.noise{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .1;
    pointer-events: none;
    z-index: -1;
    background: url(/noise.gif);
   
}
.wrapper{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 8rem;
}
.content{
    flex: .5;
}
.content h2{
    font-weight: 400;
    font-size: 2.8rem;
}
.content p{
    font-weight: 400;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 26px;
}
.content button{
    padding: 1.5rem 10px;
    border: 2px solid white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    width: 231px;
    margin-top: 2rem;
}
.content button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    z-index: -1;
    height: 75px;
    background: rebeccapurple;
}
.image{
    flex: .5;
}
.image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: filter 0.03s;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.image img:hover{
    -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media screen and (max-width : 990px) {
    .wrapper{
        width: 100%;
        display: block;
    }
    .content button{
        margin-bottom: 2rem;
    }
}
@media screen and (max-width : 490px) {
    .info{
        padding: 2rem 1.5rem;
    }
    .content h2{
        font-size: 2rem;
    }
}