@font-face {
    font-family: 'cabinet';
    src: url('../public/Fonts/CabinetGrotesk-Bold.otf');
    src: url('../public/Fonts/CabinetGrotesk-Black.otf');
    /* font-weight: 400; */
    font-style: normal;
}
@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.mission{
    position: relative;
    padding: 3rem;
    background: black;
    z-index: 1050;
    color: white;
}
.mission_wrapper{
    width: 1000px;
    margin: 10px auto;
    z-index: 1050;
}
.mission h3{
    font-size: 42px;
    font-weight: 900;
    width: 56rem;
    font-family: 'cabinet';
    margin-bottom: 1.2rem;
}
.mission h3 span{
    align-self: flex-start;
    background-image: linear-gradient(194deg,#ff00d2 33%,#7657ea 74%);
    color: #fff;
    line-height: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mission p{
    font-family: 'Firs';
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
}
@media screen and (max-width : 1020px) {
    .mission_wrapper{
        width: 100%;
    }
}
@media screen and (max-width : 990px) {
    .mission h3{
        width: 100%;
    }
}
@media screen and (max-width : 768px) {
    .mission h3{
        font-size: 2em;
    }
    .mission p{
        font-size: 1.3em;
    }
}
@media screen and (max-width : 490px) {
    .mission{
        padding: 3rem 1.5rem;
    }
    .mission h3{
        font-size: 1.7em;
        line-height: 1.4;
    }
    .mission p{
        font-size: 1em;
    }
    .mission .text{
        flex: 1;
    }
}