@font-face {
    font-family: 'Isabov';
    src: url('../public/Fonts/ISABOV-Bold.otf');
}
@font-face {
    font-family: 'cabinet';
    src: url('../public/Fonts/CabinetGrotesk-Bold.otf');
    /* font-weight: 400; */
    font-style: normal;
}
@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.preview_wrapper{
    background: black;
    color: white;
}
.main{
    position: relative;
    background: black;
    color: white;
}
.star_bg{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    background: url(../public/Stars\ footer\ bg.svg);
}
.main_content{
    width: 1000px;
    margin: 50px auto;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 4.9em;
    font-weight: 500;
    text-align: center;
    align-self: flex-start;
    background-image: linear-gradient(194deg,#ff00d2 33%,#7657ea 74%);
    color: #fff;
    font-family: 'Isabov';
    text-transform: uppercase;
    line-height: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    border: 1px solid #727070;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    margin-bottom: 2.3rem;
    cursor: pointer;
    border: 1px solid linear-gradient(228.09deg, #FF2CF7 -9.95%, rgba(251, 4, 123, 0.796875) 12.47%, rgba(255, 126, 188, 0.81) 30.87%, rgba(255, 255, 255, 0) 53.87%, rgba(73, 255, 233, 0.65) 70.34%, #130EFF 100.44%);
}

.newsletter h3{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'cabinet';
    color: white;
}
.author{
    display: flex;
    align-items: center;
    gap: 10px;
}
.author img{
    border-radius: 50%;
}
.author p{
    color: white;
}
.author span{
    color: rgba(244, 5, 128, 1);
}
.text p{
    line-height: 1.6;
    color: rgba(125, 125, 125, 1);
    font-family: 'Firs';
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.list .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.list .pagination span{
    border: 1px solid #ff00d2;
    padding: 1em 1.2em;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 3rem;
}
.pagination span{
    color: white;
}
.preview{
    width: 800px;
    margin: auto;
}
.preview h3{
    font-size: 2.3em;
    margin-top: 0em;
    font-family: 'Firs';
}
.writeup h4{
    font-size: 1.5em;
    font-family: 'Firs';
}
.preview p{
    font-size: 18px;
    line-height: 1.7;
    font-family: 'Firs';
    margin-bottom: 1.2em;
}
.articleimg{
    margin-top: 2em;
    margin-bottom: 2em;
}
.content{
    flex: .8;
}
.photo{
    flex: .2;
    display: flex;
    justify-content: flex-end;
}
.photo img{
    width: 140px;
    height: 140px;
}
@media only screen and (max-width : 1250px) {
    .main_content{
        width: 100%;
        padding: 2rem;
    }
}
@media only screen and (max-width : 990px) {
    .nav{
        display: none;
    }
    .container, .list{
        width: 100%;
    }
    .preview{
        width: 100%;
        padding: 2em 4em;
    }
    .articleimg{
        width: 100%;
    }
}
@media only screen and (max-width : 768px) {
    .heading h2{
        font-size: 3.5em;
    }
    .newsletter{
        gap: 2em;
    }
}
@media only screen and (max-width : 590px) {
    .heading h2{
        font-size: 2.5em;
    }
    .photo img{
        width: 80px;
        height: 80px;
    }
    .main_content{
        padding: 0;
    }
    .newsletter{
        flex-direction: column-reverse;
        gap: 0;
    }
    .photo{
        align-self: flex-start;
    }
    .preview{
        padding: 2em 1.5em;
    }
}

@media only screen and (max-width : 480px) {
    /* .container{
        padding: 2em 1.5em;
    } */
    .newsletter{
        padding: 1em 1.2em;
        margin: 2em 1.5em;
    }
    .heading h2{
        font-size: 2em;
        margin-top: 0;
    }
    .title h3{
        font-size: 1.5em;
    }
    .author p{
        font-size: 15px;
    }
    .writeup h4{
        font-size: 1.2em;
    }
    .preview p{
        font-size: 16px;
    }
    .text h3{
        font-size: 1em;
    }
}
