@font-face {
    font-family: 'Isabov';
    src: url('../public/Fonts/ISABOV-Bold.otf');
}
@font-face {
    font-family: 'cabinet';
    src: url('../public/Fonts/CabinetGrotesk-Bold.otf');
    /* font-weight: 400; */
    font-style: normal;
}
@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.main{
    background: black;
    color: white;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 1.2em 3em;
}
.wrapper h1{
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    align-self: flex-start;
    background-image: linear-gradient(194deg,#ff00d2 33%,#7657ea 74%);
    color: #fff;
    font-family: 'Isabov';
    line-height: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 4rem;
    text-transform: uppercase;
}
.tumbutron{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 2em;
}
.tumbutron h2{
    font-family: 'cabinet';
    margin-bottom: 1rem;
    font-size: 2em;
}
.tumbutron p{
    line-height: 1.8;
    font-family: 'Firs';
    margin-top: 0;
}
.podcastList{
    margin-top: 2em;
}
.d_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.d_grid .item{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 1.8em 1.4em;
    margin-bottom: 1.4em;
}
.d_grid .item .post_image{
    width: 65px;
    height: 65px;
}
.item h5{
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'cabinet';
}
.item p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(125, 125, 125, 1);
    font-family: "Firs";
}
.item img{
    width: 100%;
}
.podcastList .pagination{
    margin-top: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.podcastList .pagination span{
    border: 1px solid #ff00d2;
    padding: 1em 1.2em;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 3rem;
}
.rhap_container{
    border-radius: 30px;
}
@media only screen and (max-width : 790px) {
    .tumbutron{
        display: block;
    }
}
@media only screen and (max-width : 768px) {
    .d_grid{
        display: block;
    }
}
@media only screen and (max-width : 590px) {
    .wrapper h1{
        font-size: 3em;
    }
    .d_grid .item{
        display: block;
    }
}

@media only screen and (max-width : 480px) {
    .wrapper{
        padding: 1.3em;
    }
    .tumbutron img{
        width: 100%;
    }
    .item{
        padding: 2em 1.3em;
    }
}