@font-face {
    font-family: 'carbinet';
    src: url('../public/Fonts/CabinetGrotesk-Black.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.newletters{
    max-width: 1200px;
    font-family: 'carbinet';
    margin: 5rem auto;
}
.newletters h3{
    font-size: 1.5em;
}
.newletterList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.newletterList .item{
    border: 1px solid #3F4753;
    padding: 1em;
    border-radius: 10px;
}
.item h4{
    font-family: 'carbinet';
    margin-bottom: 0px;
    margin-top: .6em;
}
.item p{
    color: #7D7D7D;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 5px;
    font-family: 'Firs';
}
.newletterList .author{
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.author img{
    margin-right: 1rem;
}
.author p{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.author span{
    color : #F40580;
}
.readmore{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.readmore button{
    background: linear-gradient(89.76deg, #FB047B 3.64%, #130EFF 99.88%);
    padding: 1.5em;
    border-radius: 40px;
    color: white;
    border: 1px solid white;
    margin-top: 4em;
    cursor: pointer;
    width: 300px;
    font-family: 'Firs';
    font-weight: 500;
    font-size: 1.1rem;
}

@media screen and (max-width : 1020px) {
    .newletters{
        max-width: 100%;
        padding: 0 2rem;
    }
    .newletterList{
        display: block;
    }
    .newletterList .item{
        margin-bottom: 10px;
    }
}
@media screen and (max-width : 678px) {
    .readmore{
        margin-top: 0;
    }
    .newletters{
        padding: 0 1.5rem;
    }
}

