@font-face {
    font-family: 'Firs';
    src: url('../public/Fonts/TT\ Firs\ Neue\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.user{
    background: black;
    font-family: 'Firs';
    color: white;
}
.user h2{
    font-size: 33px;
    color: white;
    font-family: 'Firs';
    font-weight: 600;
}
.profile_image{
    width: 100%;
    /* object-position: center; */
    object-fit: cover;
    height: 300px;
    border-radius: 25px;
}
@media only screen and (max-width: 30em){

}